#titre{
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}
.titre{
    text-align: center;
}
.class1{
    width: 95%;
    padding-left: 100px;
    padding-right: 40px;
}
